<!-- <ion-header>
  <ion-navbar>
    <ion-title>Credits</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding>
  <!--<ion-list no-lines *ngIf="loggedInUser">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/myAvatar.svg">
      </ion-thumbnail>
      <h2>{{loggedInUser?.firstName}} {{loggedInUser.lastName}}</h2>
      <h3>{{loggedInUser.userId}}</h3>
      <p>{{loggedInUser.dateOfBirth | date}}</p>
      <p>{{loggedInUser.gender}}</p>
      <h6>
        Total Credit:
        <strong>{{totalCredit | currency:'INR' }}</strong>
      </h6>
    </ion-item>
  </ion-list>-->
  <user-info [loggedInUser]="loggedInUser" [displayUser]="loggedInUser" [totalCredit]="totalCredit"></user-info>

  <hr/>
  <transaction-list [trasactions]="credits" [config]="transactionListconfig" (updateEvent)="goToUpdateCreditPage($event)" (deleteEvent)="deleteCredit($event)"></transaction-list>
  <ion-fab *ngIf="loggedInUser?.admin" right bottom>
    <button ion-fab color="secondary" (click)="goToAddCreditPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!--<ion-footer text-center>
  <button *ngIf="loggedInUser?.admin" ion-button color="primary" (click)="goToAddCreditPage()">Add Credit</button>
</ion-footer>-->