.tabs-md .tab-button .tab-button-icon{
    color:#fff;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color:#f5821f;
}
.tabs-md .tab-button{
    color:#fff;
}
.tabs-md .tab-button[aria-selected=true]{
    color:#f5821f;
}