<ion-list no-lines *ngIf="displayUser?.firstName">
  <ion-item>
    <ion-thumbnail item-start>
      <img [src]="displayUser?.userImg ? displayUser.userImg : 'assets/imgs/myAvatar.svg'">
    </ion-thumbnail>
    <h2>{{displayUser?.firstName}} {{displayUser.lastName}}</h2>
    <h3>{{displayUser.userId}}</h3>
    <p>{{displayUser.dateOfBirth | date}}</p>
    <p>{{displayUser.gender}}</p>
    <h6 *ngIf="totalCredit">
      Total Credit:
      <strong>{{totalCredit | currency:'INR' }}</strong>
    </h6>
    <h6 *ngIf="totalDebt">
      Total Debt:
      <strong>{{totalDebt | currency:'INR' }}</strong>
    </h6>
    <div *ngIf="loggedInUser?.admin && loggedInUser!=displayUser">
      <button ion-button clear title="Update" (click)="updateEvent.emit(displayUser)">
        <ion-icon name='settings' is-active="false"></ion-icon>
        &nbsp;Update
      </button>
      <button ion-button color="danger" clear icon-only title="Delete" (click)="deleteEvent.emit(displayUser)">
        <ion-icon name='trash' is-active="false"></ion-icon>
        &nbsp;Delete
      </button>
    </div>
  </ion-item>
</ion-list>